<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
  <div class="container-fluid">
    <div class="side-nav-button text-light p-1" (click)="toggleSideNaV()">
      <i class="bi bi-grid-3x3-gap-fill"></i>
    </div>

    <a href="" class="navbar-brand px-4">Home Expense Manager</a>

   
    <button  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="bi bi-pie-chart-fill"></i>
    </button>

    <div class="navbar-collapse form-container">
      
    </div>
  </div>
</nav>




<div class="modal fade" id="staticBackdrop" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>
